// VARIABLES

$primary-color: #35a7ff;
$secondary-color: #ffcf56;
$footer-height: 20px;
$footer-margin-bottom: 20px;

// FONTS

@font-face {
  font-family: 'black_roseregular';
  src:
    url('../fonts/BLACKR-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'daysregular';
  src:
    url('../fonts/Days-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kingthings_calligraphica_2Rg';
  src:
    url('../fonts/Kingthings_Calligraphica_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// HEADER

.header-background {
  background: url('../images/header.JPG') no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 300px;
  color: $secondary-color;
  h1 {font-family: black_roseregular;}
  /*position: relative;*/
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

// BUTTONS

.button {
  color: darken($primary-color, 20%);
  border-color: lighten($primary-color, 0%);
  font-size: 1.5rem;
  font-family: Georgia, serif;

  &.active, &:hover {
    color: darken($primary-color, 40%);
    border-color: darken($primary-color, 40%);
  }
}

// TEXT

body {
  //background-color: #FAEBD7;
  background-color: lighten(#DBCAC3, 10%);
  color: darken($primary-color, 40%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: kingthings_calligraphica_2Rg, serif;
}

p {
  text-align: justify;
  font-family: Georgia, serif;
  font-size: 1.3em;
};

li {
  text-align: justify;
  font-family: Georgia, serif;
  font-size: 1.3em;
  list-style: none;
}

// IMAGES

img {
  width: 100%;
}

.img-container {
  display: inline-block;

  &:first-of-type {
    width: 45%;
  }

  &:last-of-type {
    width: 54%;
  }
}

.come-damien-miracle {
  max-width: 500px;
  margin: 0 auto 2.5rem auto;
  display: block;
}

.map {
  display: flex;
  margin-bottom: 2rem;

  img {
    width: initial;
    vertical-align: middle;
  }

  p {
    padding-left: 10px;
  }
}

// VIDEOS

video {
  width: 100%;
}

//FOOTER

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
}

body > .container {
  margin-bottom: $footer-height + $footer-margin-bottom;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: $footer-margin-bottom;
  height: $footer-height;
  width: 100%;
  text-align: center;
}

// CARPOOLING

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-dismissible {
  padding-right: 35px;

  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.close {
  height: 0;
  border: 0;
  width: auto;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

@mixin carpooling-topic() {
  padding: 20px;
  background-color: lighten($primary-color, 20%);
  border-radius: 10px;
}

li.carpooling-topic {
  list-style: none;

  a {
    color: darken($primary-color, 20%);
    text-decoration: none;

    &:hover, &:focus {
      color: darken($primary-color, 30%);
    }
  }

  div {
    @include carpooling-topic();

    &:hover, &:focus {
      background-color: lighten($primary-color, 10%);
    }
  }
}

p.carpooling-topic {
  @include carpooling-topic();
  color: darken($primary-color, 20%);
  font-size: 20px;
}

p.carpooling-message {
  @include carpooling-topic();
  color: darken($primary-color, 20%);
}

textarea {
  width: 100%;
}
