{% extends 'base.html.twig' %}

{% set active = 'accommodation' %}

{% block content %}
    <h1>Hébergement</h1>
    <p>Afin que vous puissiez rester parmi nous jusqu'au bout de la nuit, vous trouverez ci-dessous quelques adresses de chambres d'hôtes, de gîtes et d'hôtels à proximité du Château de Champlâtreux. Cette liste n'est sans doute pas exhaustive...!</p>
    <h2>Chambre d'hôtes</h2>
    <ul>
        <li><strong>"Le clos des fées" - Alain Cahannier</strong><br/>
            42 bis grande rue - 95270 Asnières-sur-Oise<br/>
            +33 (0)9 52 59 83 65 - 06 07 56 47 32<br/>
            <a href="mailto:contact@leclosdesfees.fr">contact@leclosdesfees.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a></li>

        <li><strong>"Le GL" - Marie-France Latigau</strong><br/>
            1 impasse du Parc 95720 Le Mesnil-Aubry<br/>
            +33 (0)1 34 09 40 00 - 06 07 02 15 44<br/>
            <a href="mailto:resa@latigau.fr">resa@latigau.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a></li>

        <li><strong>"La Montcelloise" - Marie-Thérèse Pichot</strong><br/>
            10 rue du Montcel - 95270 Viarmesl<br/>
            +33 (0)1 30 35 36 62 - 06 81 55 53 26<br/>
            <a href="mailto:mt.guillaume@hotmail.fr">mt.guillaume@hotmail.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a></li>

        <li><strong>"Sweet Home" - Anthony Buffet</strong><br/>
            10 ruelle du Crocq 95270 Asnières-sur-Oise<br/>
            +33 (0)7 85 42 38 47<br/>
            <a href="mailto:sweethommeresa@gmail.com">sweethommeresa@gmail.com</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a></li>
    </ul>

    <h2>Gîtes</h2>

    <h2>Hôtels</h2>
{% endblock %}
