{% extends 'base.html.twig' %}

{% set active = 'accommodation' %}

{% block content %}
    <h1>Hébergement</h1>
    <p>Afin que vous puissiez rester parmi nous jusqu'au bout de la nuit, vous trouverez ci-dessous quelques adresses de chambres d'hôtes, de gîtes et d'hôtels à proximité du Château de Champlâtreux. Cette liste n'est sans doute pas exhaustive...!</p>
    <h2>Chambre d'hôtes</h2>
    <ul>
        <li><strong>"Le clos des fées" - Alain Cahannier</strong><br/>
            42 bis grande rue - 95270 Asnières-sur-Oise<br/>
            +33 (0)9 52 59 83 65 - 06 07 56 47 32<br/>
            <a href="mailto:contact@leclosdesfees.fr">contact@leclosdesfees.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a>
        </li>

        <li><strong>"Le GL" - Marie-France Latigau</strong><br/>
            1 impasse du Parc 95720 Le Mesnil-Aubry<br/>
            +33 (0)1 34 09 40 00 - 06 07 02 15 44<br/>
            <a href="mailto:resa@latigau.fr">resa@latigau.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a>
        </li>

        <li><strong>"La Montcelloise" - Marie-Thérèse Pichot</strong><br/>
            10 rue du Montcel - 95270 Viarmes<br/>
            +33 (0)1 30 35 36 62 - 06 81 55 53 26<br/>
            <a href="mailto:mt.guillaume@hotmail.fr">mt.guillaume@hotmail.fr</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a>
        </li>

        <li><strong>"Sweet Home" - Anthony Buffet</strong><br/>
            10 ruelle du Crocq 95270 Asnières-sur-Oise<br/>
            +33 (0)7 85 42 38 47<br/>
            <a href="mailto:sweethomeresa@gmail.com">sweethomeresa@gmail.com</a><br/>
            <a href="http://www.gites-val-doise.com/">http://www.gites-val-doise.com/</a>
        </li>
    </ul>

    <h2>Gîtes</h2>
    <ul>
        <li><strong>"Gîte n°121" - M. Pavlian</strong><br />
            18 rue Vivien - 95270 Luzarches<br />
            +33 (0)1 34 09 81 73<br />
            <a href="mailto:gdf95@gites-de-france-nord.com">gdf95@gites-de-france-nord.com</a><br />
            <a href="www.gites-val-doise.com">www.gites-val-doise.com</a>
        </li>

        <li><strong>"La gentilhommière" - Bernard Raynaud</strong><br />
            Service de réservation GDF 95<br />
            +33 (0)1 34 09 81 73<br />
            <a href="mailto:gdf95@gites-de-france-nord.com">gdf95@gites-de-france-nord.com</a><br />
            <a href="www.gites-val-doise.com">www.gites-val-doise.com</a>
        </li>

        <li><strong>"Gîte n°125"</strong><br />
            Service de réservation GDF 95<br />
            +33 (0)1 34 09 81 73<br />
            <a href="mailto:gdf95@gites-de-france-nord.com">gdf95@gites-de-france-nord.com</a><br />
            <a href="www.gites-val-doise.com">www.gites-val-doise.com</a>
        </li>

        <li><strong>"Gîte des Panilliers" - M. et Mme Grognet</strong><br />
            6 ruelle de la Nourrie - 95270 Viarmes<br />
            +33 (0)1 34 09 34 22<br />
            <a href="mailto:gite.panilliers@gmail.com">gite.panilliers@gmail.com</a><br />
            <a href="www.gites-val-doise.com">www.gites-val-doise.com</a>
        </li>

        <li><strong>"Gîte de séjour" - Simone Labre</strong><br />
            Centre équestre du Moulin de Giez - 95270 Viarmes<br />
            +33 (0)1 30 35 40 99<br />
            <a href="mailto:simone.labre@wanadoo.fr">simone.labre@wanadoo.fr</a><br />
            <a href="www.gites-val-doise.com">www.gites-val-doise.com</a>
        </li>

        <li><strong>"Beauvilliers" - Doris Mandy</strong><br />
            Route de Baillon - 95270 Chaumontel<br />
            +33 (0)1 30 29 99 61 - +33 (0)6 81 25 28 46<br />
            <a href="mailto:beausite@beauvilliers.com">beausite@beauvilliers.com</a><br />
            <a href="www.beauvilliers.com">www.beauvilliers.com</a>
        </li>

        <li><strong>"Jad'Or" - Antonella Mancarella Huguenin</strong><br />
            9 rue André Vassord - 95270 Chaumontel<br />
            +33 (0)6 12 93 92 35<br />
            <a href="mailto:antonella@jador-paris.com">antonella@jador-paris.com</a><br />
            <a href="www.jador-paris.com">www.jador-paris.com</a>
        </li>

    </ul>

    <h2>Hôtels</h2>
    <ul>
        <li><strong>Golf Hôtel *** Restaurant de Mont Griffon</strong><br />
            Route départementale 909 - 95270 Luzarches<br />
            +33 (0)1 34 68 10 10<br />
            <a href="hotel@golfmontgriffon.com">hotel@golfmontgriffon.com</a><br />
            <a href="www.golfmontgriffon.com">www.golfmontgriffon.com</a>
        </li>

        <li><strong>Hôtel *** Le Campanile</strong><br />
            54 rue de Paris - 95270 Chaumontel<br />
            +33 (0)1 34 09 90 90<br />
            <a href="chaumontel.luzarches@campanile.fr">chaumontel.luzarches@campanile.fr</a><br />
            <a href="www.campanile.fr">www.campanile.fr</a>
        </li>

        <li><strong>Hôtel * Première classe</strong><br />
            54 rue de Paris - 95270 Chaumontel<br />
            +33 (0) 892 707 068<br />
            <a href="chaumontel@premiereclasse.fr">chaumontel@premiereclasse.fr</a><br />
            <a href="www.premiereclasse.fr">www.premiereclasse.fr</a>
        </li>

    </ul>
{% endblock %}
