{% extends 'base.html.twig' %}

{% set active = 'index' %}

{% block content %}
    <div class="wrapper">
        <div class="home">

            <h1>Bienvenue !</h1>
            <p>Nous sommes très heureux de vous accueillir sur notre site !<br />
                Vous y trouverez toutes les informations dont vous aurez besoin pour le jour du mariage.<br />
                Si vous souhaitez en savoir plus sur nous, nous vous invitons à regarder cette vidéo !
            </p>
            <video src="{{ asset('images/AKmwQvL_q81ReBQASfIp.mp4') }}" controls preload="auto"></video>

        </div>

    </div>
{% endblock %}
