{% extends 'base.html.twig' %}

{% set active = 'index' %}

{% block content %}
    <div class="wrapper">
        <div class="home">

            <h1>Bienvenue !</h1>
            <p>Nous sommes très heureux de vous accueillir sur notre site !<br />
            Vous y trouverez toutes les informations dont vous aurez besoin pour le mariage ; pour la messe de mariage, le lieu de réception, les possibilités d'hébergement à proximité...<br />
            </p>

        </div>

    </div>
{% endblock %}
