{% extends 'base.html.twig' %}

{% set active = 'nuptial-mass' %}

{% block content %}
    <div class="wrapper">
        <div class="home">
            <h1>Notre messe de mariage</h1>
            <p>Notre messe de mariage sera célébrée à 15h30 en l'église St Côme St Damien de Luzarches (Val d'Oise) par le Père Régis Lecourt.</p>
            <h2>Pour y accéder</h2>
            <div class="map">
                <img src="{{ asset('images/Plan_chemin_eglise_luzarches.png') }}">
                <p>Pour y accéder :<br />
                    1 rue François de Ganay,<br />
                    95270 LUZARCHES<br />
                    En train : depuis Paris ou l'aéroport Charles de Gaulle<br />
                    En avion : depuis l'aéroport Charles de Gaulle<br />
                    Depuis la gare de Luzarches (ligne H, départ de la gare du Nord) : 15 minutes à pied
                </p>
            </div>
            <h2>Liturgie</h2>
            <p>En cours de réflexion, nous contacter en cas d'idée lumineuse !</p>
            <h2>Historique de l'église</h2>
            <p>Classée Monument Historique en 1912, l'église St Côme St Damien de Luzarches témoigne par son chevet de cinq siècles d'architecture, du XIème au XVIème siècle.Construite sur un ancien édifice gallo-romain puis carolingien dédié à St Barthélémy, elle apparaît dès le VIIIème siècle sous le vocable de St Côme – St Damien, frères jumeaux, patrons des médecins.</p>
            <p>Saint Côme et saint Damien sont deux frères jumeaux, nés au IIIème siècle en Asie Mineure actuelle. Leur profession de médecin leur fournit l'occasion d'exercer un véritable apostolat. La grâce divine leur donna le don de guérisons miraculeuses : les aveugles recouvraient la vue, les boiteux marchaient droit, les sourds entendaient. Tout cela, ils le faisaient par pure charité, ne recevant jamais aucune rétribution.<br />
                Mais un jour, sous le règne de l'empereur Dioclétien,, ils furent accusés de séduire le peuple et de faire déserter les temples des dieux. Ils furent précipités du haut d'un rocher dans les flots ; mais un Ange plana au-dessus des eaux et transporta les martyrs au rivage. Les deux martyrs furent jetés dans une fournaise ardente ; mais ils s'y promenèrent comme sur des fleurs. Après beaucoup d'autres supplices, le préfet leur fit trancher la tête.<br />
                Le culte des deux médecins est diffusé en Europe à partir de la Légende dorée de Jacques de Voragine qui rapporte la greffe miraculeuse d’une jambe empruntée à un Éthiopien défunt au profit du sacristain de l’église Saint Côme et Saint Damien à Rome. Ce dernier atteint de gangrène gazeuse fut guéri et se retrouva donc avec une jambe noire, l’autre blanche.</p>
            <img class="come-damien-miracle" src="{{ asset('images/C&D4.jpg') }}">
            <p>Dès le V° siècle, on trouve à Constantinople, à Rome et en Orient, des basiliques, oratoires ou hôpitaux qui portent leurs noms.<br />
                Au XII° siècle, lors des croisades, Jean de Beaumont, seigneur de Luzarches, ramène de Terre Sainte leurs reliques. Il construit alors pour les protéger une immense collégiale dans l'enceinte du château St Côme et fonde un chapitre de 7 chanoines.<br />
                Puis, en 1320, les reliques furent transférées en l'église paroissiale dans un nouveau reliquaire en argent, offert par Jeanne de Bourgogne, au cours d'une procession solennelle.</p>
            <p>A cette occasion, les corporations des médecins, des dentistes et des chirurgiens de Paris et de Luzarches décident de se réunir en une seule confrérie dont les membres s’engagent à consulter gratuitement le 1er lundi de chaque mois et à déléguer leurs représentants pour assister à un office spécial à Luzarches, le 27 septembre et le 28 octobre.</p>
            <p>En 1875, les restes des reliques sont placés dans un nouveau reliquaire, dérobé et remplacé plusieurs fois au cours du XXe siècle. En 1960, les religieux de Longpont offrent deux fragments de reliques des Saints provenant de la cathédrale de Narbonne à Monsieur l’Abbé Jean Crapart, pour sa paroisse. Ils furent placés dans un reliquaire retrouvé brisé puis restauré.</p>
            <img src="{{ asset('images/Luzarches_(95),_église_Saint-Côme-Saint-Damien,_façade_occidentale_3.jpg') }}">
        </div>
    </div>
{% endblock %}
